.RData
*.docx
decay.pdf
*.html
*.Rhistory
sensitivityAnalysis.pdf

sensitivityAnalysis2.R

simuTreat2.R

sensitivityAnalysis2.Rmd

sensitivitySampleTest.R

.Rapp.history

simuTreat3.R

simuTreatWithFeedstocks.R
